<div class="portfolio-left">

  <div class="portfolio-img"><img src="/assets/img/projects/polloloco.png" alt="El Pollo Loco"></div>
  <div class="portfolio-project-info">
    <div class="portfolio-project-name">El Pollo Loco</div>
    <div class="portfolio-project-languages">HTML | JavaScript | CSS</div>
    <div class="project-description">A simple Jump-and-Run game based on an object-oriented approach. Help the Hro to find coins and Salsa bottles to fight against the killer Chicken.</div>
    <div class="project-buttons">
      <button class="portfolio-live-test">Live test</button>
      <button class="portfolio-github"><a href="https://github.com/DavidSchuchert/ElPoloLoco" target='_blank'>Github</a></button>
    </div>



  </div>
</div>
