header {
  height: 110px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  background-color: #141D2F;
  z-index: 50;


  .header-menu{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;


    a{
        padding-left: 29px;
        color: white;
        text-decoration: none;
        transition: 0.6s;

        &:hover{
          color: #70E61C;
        }
    }

  }
}

.name-logo {
img{

  width: 165px;
}
}


/* Responsive */



@media (max-width: 1911px){
header{
  padding-left: 100px;
  padding-right: 100px;
}

}
