header {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  background-color: #141d2f;
  z-index: 50;

  .header-menu {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 23px;

    a {
      padding-left: 29px;
      color: white;
      text-decoration: none;
      transition: 0.6s;

      &:hover {
        color: #70e61c;
      }
    }
  }
}

.name-logo {
  img {
    width: 165px;
  }
}

/* Responsive */

@media (max-width: 1911px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1441px) {
  .name-logo {
    img {
      width: 120px;
    }
  }

  header {
    .header-menu {
      font-size: 21px;
    }
  }
}

@media (max-width: 1340px) {
  header {
    position: none;
    .header-menu {
      display:none;
      a {
        display: none;
      }
    }
  }
}

@media (max-width: 560px){
header{
  padding-left: 10px;
}

}
