header {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  background-color: #141d2f;
  z-index: 50;

  .burger_icon{
    display:none;
    cursor: pointer;
  }

  .header-menu {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 23px;
    display:flex;
    gap: 29px;

    a {
      color: white;
      text-decoration: none;
      transition: 0.6s;

      &:hover {
        color: #70e61c;
      }
    }
  }
}

.name-logo {
  img {
    width: 165px;
  }
}

.showoverlay{
  transform: translateX(0px) !important;
  display:flex !important;
}

.hideheader{
  display:none;
}

.burger-menu {
  display:none;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display:none;

  transform: translateX(5000px);
  transition: all 225ms ease-in-out ;


header{
  .burger_icon{
    cursor:pointer;
  }
}


  .burger-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .burger-text {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    a {
      color: white;
      text-decoration: none;
      font-family: "Poppins";
      font-size: 100px;
      transition: 0.6s;

      &:hover {
        color: #70e61c;
      }
    }
  }
}

/* Responsive */

@media (max-width: 1911px) {
  header {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 1441px) {
  .name-logo {
    img {
      width: 120px;
    }
  }

  header {
    .header-menu {
      font-size: 21px;
    }
  }
}

@media (max-width: 1340px) {
  header {
    position: sticky;
    .header-menu {
      display: none;
      a {
        display: none;
      }
    }

    .burger_icon{
      display:flex;
    }

  }
}

@media (max-width: 620px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
.burger-menu{
  .burger-content {
    a {
      color: white;
      text-decoration: none;
      font-family: "Poppins";
      font-size: 60px;
      transition: 0.6s;

      &:hover {
        color: #70e61c;
      }
    }
  }


}

}


/* Responsive Widescreen */

@media (min-width: 2300px){
  header{
    padding-left: 300px;
    padding-right: 300px;
  }
}

@media (min-width: 2500px){
  header{
    padding-left: 400px;
    padding-right: 400px;
  }
}

@media (min-width: 2700px){
  header{
    padding-left: 500px;
    padding-right: 500px;
  }
}

@media (min-width: 2900px){
  header{
    padding-left: 600px;
    padding-right: 600px;
  }
}


@media (min-width: 3100px){
  header{
    padding-left: 700px;
    padding-right: 700px;
  }
}

@media (min-width: 3300px){
  header{
    padding-left: 800px;
    padding-right: 800px;
  }
}
