<div class="aboutme-section">



    <div class="aboutme-headline">About me</div>
    <div class="aboutme-text-section">
        <div class="aboutme-text">  Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus
            eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur. </div>
        <div class="personal-things"> <img src="/assets/img/bulb_desktop.svg" alt="bulb icon"> Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </div>
        <div class="puzzle"> <img src="/assets/img/puzzle_desktop.svg" alt="bulb icon">Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent
            taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </div>



    </div>

    <div class="aboutme-img">
        <img class="small_profile_pic" src="/assets/img/me.png" alt="small image from me">
        <img class="line" src="/assets/img/Linetocircle.png" alt="Line">
        <img class="ellipse" src="/assets/img/Ellipse.png" alt="Ellipse">
    </div>
</div>




<img class="purple-shadow" src="/assets/img/purple_shadow.png" alt="Purple Shadow">