<div class="iam-page"id="top">

<div class="full-image" > <img src="/assets/img/profile_full.png" alt="profile picture"></div>


<div class="iam-main-text">



<div class="right-text">

  <div class="iam-vertical">I am</div>

  <div class="nameFrontEnd">


<div class="iam-name">David Schuchert</div><div class="iam-developer">FRONTEND DEVELOPER</div>

</div>

</div>

<a href="#contact"><button class="lets-talk-button">Lets talk!</button></a>


</div>


</div>

<img class="profile-background-shadows" src="/assets/img/photo_shadows.png" alt="background shadows">
<img class="swoosh" src="/assets/img/swoosh2.png" alt="swoosh image">
