.iam-page {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.full-image {
    z-index: 10;
  img {
    height: 705px;
  }
}

.profile-background-shadows{
    position: absolute;
    top: 69px;
}



.iam-main-text{
    z-index: 10;
    display:flex;
    align-items: center;
}

.iam-vertical {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 64px;
  color: white;
  writing-mode: vertical-rl;
  transform:rotate(180deg);
}


.right-text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.iam-name {
    padding-left: 35px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 90px;
  color: white;
}

.iam-developer {
    padding-left: 35px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 58px;
    color: #9747FF;
}


.lets-talk-button{
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #70E61C;
    color: white;
    font-family: 'Poppins';
    font-size: 23px;
    font-weight: 400;
    border: none;
    box-shadow: 4px 4px 4px 5px rgba(0,0,0,0.25);
    position: absolute;
    right: 446px;
    top: 600px;
    z-index: 20;
    transition: ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color:#9747FF;
    }
}

.swoosh{
  width: 100vw;
  position: absolute;
  top: 384px;
  height: 1078.6px;
  z-index: -1;

}
