<div class="social">

<div class="stripe"></div> <a target=”_blank” href="https://github.com/DavidSchuchert"><img src="/assets/img/Github_button.svg" alt="Github"></a> <a href="#contact"><img src="/assets/img/Email_button.svg" alt="Email"></a> <a target=”_blank” href="https://www.linkedin.com/in/david-schuchert-0ab892283/?originalSubdomain=de"><img src="/assets/img/Linkedin_button.svg" alt="LinkedIn"></a> <span>{{ 'davidschuchert@icloud.com' }}</span>

</div>

<div class="scrolldown-section"><span>Scroll down</span><img src="/assets/img/arrow-down-line.png" alt="Scroll Down Arrow"></div>
