.contact-header {
  display: flex;
  flex-direction: row;
  align-items: center;

  .contact-header-line {
    width: 150px;
    height: 4px;
    background-color: #9747ff;
    border-radius: 50px;
  }

  .contact-header-text {
    font-family: "Poppins";
    font-size: 90px;
    color: white;
    padding-left: 50px;
  }
}


  /* Responsive */

  @media (max-width: 1911px) {
    .contact-header {

      .contact-header-line {
        width: 50px;
      }
    }
  }
