<div class="contact-component">



  <div class="contact-left-side">
      <div class="contact-title">Got a problem to solve?</div>
      <div class="contact-description">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</div>
      <div class="contact-description-need">Need a Frontend developer? <span>Contact me!</span> </div>
  </div>

  <div class="contact-right-side">
<form (submit)="sendMail()" ngNativeValidate #myForm>
<input placeholder="Your name" required type="text" name="name" #nameField>
<input placeholder="Your email" required type="email" name="name" #mailField>
<textarea placeholder="Your message" required type="text" message="message" #messageField></textarea>
<div class="checkbox-area"><input required class="checkbox" type="checkbox"/>I've read the <a href="#">privacy policy</a> and agree to the processing of my data as outlined.</div>
<button #sendButton>{{'Send message :)'}}</button>



</form>

  </div>

</div>
