.myskills-component {
  padding-top: 200px;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  font-family: "Poppins";

  display: flex;
  justify-content: space-between;

}
.skills_icons {
  max-width: 790px;
  display: flex;
  gap: 54px;
  flex-wrap: wrap;
img{
  &:hover{
    animation: Bounce 1s ease 0s 1 normal forwards;
    cursor: pointer;
  }

}

}

.skills_icons_name {
  height: 100px;
  width: 88px;
  padding-right: 69px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: 16px;
  gap: 10px;
  text-align: center;

  img {
    height: 60px;
    width: 60px;
  }
}

.myskills {
    align-items: end;
    text-align: end;
    display:flex;
    flex-direction: column;
    gap: 34px;
  h1 {
    font-size: 90px;
    font-weight: 700;
    margin:0px;
    padding: 0px;
  }

  span {
    font-size: 16px;
    font-weight: 400;
  }

  button {
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #70e61c;
    color: white;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 400;
    border: none;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.25);
    width: 200px;
    height:58px;
    margin-right: calc(197.5px - 100px);
    transition: ease-in-out 0.2s;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        background-color:#9747FF;
    }
  }
}

.stripe_myskills{
        width: 100px;
        height: 4px;
        background-color: #9747ff;
        border-radius: 50px;
        position: absolute;
        right: 0;
        top: 1908px;
}

.greenshadow_myskills{
    position: absolute;
    left: 0;
    top: 1975px;
    z-index: -1;
}


/* Animations */

@keyframes Bounce {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-18px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-16px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}
