<div class="myskills-component" id="skills">
 <div class="mobile_button"> <a href="#contact"><button>Get in Touch</button></a>  </div>
    <div class="skills_icons">
<div class="skills_icons_name"><img src="/assets/img/skill_icons/Angular.png" alt="angular icon"><span>Angular</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/Typescript.png" alt="Typescript icon"><span>TypeScript</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/JavScript.png" alt="Javascript icon"><span>JavaScript</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/html.png" alt="html icon"><span>HTML</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/Firebase.png" alt="Firebase icon"><span>Firebase</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/Git.png" alt="git icon"><span>GIT</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/css.png" alt="css icon"><span>CSS</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/Api.png" alt="api icon"><span>Rest-Api</span></div>
<div class="skills_icons_name"><img src="/assets/img/skill_icons/Scrum.png" alt="scrum icon"><span>Scrum</span></div>
<div class="skills_icons_name Des"><img src="/assets/img/skill_icons/Material_Design.png" alt="material design icon"><span>Material Design</span></div>

    </div>

    <div class="myskills">
        <h1>My Skills</h1>
    <span class="myskills_text">I have gained experience in building projects with various front end technologies and concepts.</span>
   <a href="#contact"><button>Get in Touch</button></a>
    </div>
</div>


<!-- pos absolute -->

<div class="stripe_myskills"></div>
<div class="greenshadow_myskills"><img src="/assets/img/GreenShadow.png" alt="green Shadow"></div>
