<div class="portfolio-right hide-padding-top" >

  <div class="portfolio-img"><img src="/assets/img/projects/join.png" alt="Join"></div>
  <div class="portfolio-project-info">
    <div class="portfolio-project-name">Join</div>
    <div class="portfolio-project-languages">HTML | JavaScript | CSS</div>
    <div class="project-description">Task manager inspired by the Kanban System. Create and organize tasks using drag
      and drop functions, assign users and categories. </div>
    <div class="project-buttons">
      <button class="portfolio-live-test">Live test</button>
      <button class="portfolio-github">Github</button>
    </div>



  </div>
</div>
