.purple_shadow3 {
  position: absolute;
  left: 0;
  top: 3645px;
  z-index: -1;
}

.green_shadow2 {
  position: absolute;
  right: 0;
  top: 4138px;
  z-index: -1;
}

@media (max-width: 1340px) {
  .purple_shadow3 {
    top: 4388px;
  }
  .green_shadow2 {
    top: 7000px;
  }
}

@media(max-width: 780px){
  .purple_shadow3{
    width: 60vw;
  }
  .green_shadow2{
    width: 60vw;
  }
}
