<div class="portfolio-left">

  <div class="portfolio-img"><img src="/assets/img/projects/RingOfFire.png" alt="ringoffire"></div>
  <div class="portfolio-project-info">
    <div class="portfolio-project-name">Ring of Fire</div>
    <div class="portfolio-project-languages">Angular | HTML | Typescript | SCSS | Firebase</div>
    <div class="project-description">A simple drinking card game, to enjoy with your friends in online multiplayer.</div>
    <div class="project-buttons">
      <button class="portfolio-live-test">Live test</button>
      <button class="portfolio-github"><a href="https://github.com/DavidSchuchert/ringoffire" target='_blank'>Github</a></button>
    </div>



  </div>
</div>

<!-- Position Absolute -->

<img class="purple_shadow3" src="/assets/img/Purple_shadow3.png" alt="shadow">
<img class="green_shadow2" src="/assets/img/Greenshadow2.png" alt="shadow">
