
<div class="impressum-background"  (click)="toggleImpressum()" *ngIf="showImpressum" id="impressum">

  <div class="impressum" >
  <h1>Impressum</h1>

  <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
  <p>David Schuchert<br />
    Berlinerstr. 43<br />
    36088 H&uuml;nfeld</p>

  <h2>Kontakt</h2>
  <p>Telefon: 015126558955<br />
    E-Mail: {{ 'Davidschuchert@icloud.com' }} </p>

  <p>Quelle: <a
      href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>

</div>


</div>
