@font-face {
  font-family: "DiscoMo";
  src: url("/assets/fonts/DiscoMo.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #141d2f;
  z-index: -10;
  position: absolute;
}

/* Styles for Portfolio projects */

.portfolio-right {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  padding-right: 100px;
  padding-left: 100px;
  gap: 180px;
}

.portfolio-left {
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  padding-right: 100px;
  padding-left: 100px;
  gap: 180px;
}

  .portfolio-img {
  }

  .portfolio-project-info {
    flex-direction: column;
    display:flex;
    gap: 35px;
    max-width: 513px;
  }

  .portfolio-project-name {
    font-weight: 700;
    font-size: 32px;
    color: #9742ff;
  }

  .portfolio-project-languages {
    font-weight: 400;
    font-size: 23px;
    color: #70e61c;
  }

  .project-description {
    font-weight: 400;
    font-size: 16px;
    color: white;
  }

  .project-buttons {
    display:flex;
    gap: 86px;
  }

  .portfolio-live-test {
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 400;
    color: white;
    width: 152px;
    height: 58px;
    padding: 15px, 30px, 15px, 30px;
    border-radius: 10px;
    gap: 10px;
    background-color: #9742ff;
  }

  .portfolio-github {
    font-family: "Poppins";
    font-size: 23px;
    font-weight: 400;
    color: white;
    width: 137px;
    height: 58px;
    padding: 15px, 30px, 15px, 30px;
    border-radius: 10px;
    border: 1px solid #70e61c;
    gap: 10px;
    background-color: transparent;
  }

